Repository atlj/react-native-background-remover: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lint:
  run: yarn lint

types:
  run: yarn typecheck

release it dependency
  package.json
  packages/react-native-background-remover/package.json
  yarn.lock
Due: none

add expo app
  apps/bare/package.json
  apps/expo/.gitignore
  apps/expo/App.tsx
  apps/expo/app.json
  apps/expo/assets/adaptive-icon.png
  apps/expo/assets/favicon.png
  apps/expo/assets/icon.png
  apps/expo/assets/splash.png
  apps/expo/babel.config.js
  apps/expo/package.json
  apps/expo/tsconfig.json
  mprocs.yaml
  package.json
  yarn.lock
Due: lint, types

add bundle identifiers
  apps/expo/app.json
Due: none

create example
  apps/expo/App.tsx
  apps/expo/app.json
  apps/expo/babel.config.js
  apps/expo/metro.config.js
  apps/expo/package.json
  apps/expo/react-native.config.js
  apps/expo/tsconfig.json
  yarn.lock
Due: lint, types

mention expo
  CONTRIBUTING.md
Due: none

update ci
  .github/workflows/publish.yml
Due: none

update comment
  packages/react-native-background-remover/src/index.tsx
Due: lint

add rn viewshot
  apps/bare/ios/Podfile.lock
  apps/bare/package.json
  yarn.lock
Due: none

add basic editor
  apps/bare/src/App.tsx
  apps/bare/src/components/Editor.tsx
Due: lint

✨ Improve error handling -Added check to avoid producing images with large size -Use CIContext for proper image conversion process to avoid crashes on some devices
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.swift
Due: none

feat: ✨ Improve error handling (#9)
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.swift
Due: none

chor: bump manually
  packages/react-native-background-remover/package.json
Due: none

🐛 Fix mask image transformation issue
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.swift
Due: none

fix: 🐛 Mask Image Transformation Issue (#10)
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.swift
Due: none

chore: 0.3.1
  packages/react-native-background-remover/package.json
Due: none

chore: copy the README to the package before publishing
  packages/react-native-background-remover/package.json
Due: none

fix: resolve issue with build issue
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.mm
Due: none

fixed the ios build issue;
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.mm
Due: none

fix: swift import isn't included properly (#5)
  packages/react-native-background-remover/ios/ReactNativeBackgroundRemover.mm
Due: none

chore: 0.3.2
  packages/react-native-background-remover/package.json
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts, jsx, tsx}
